
@charset "UTF-8";
/* CSS Document */

body{
	background-color:black;
	}
	
	
	#container{
	width: 1200px;
	height:3000px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #1a1a1a;
	}
	
	
	.header {
		height: 177px;
		width: 1200px;
	position: relative;
	}
	
	.ByVictorrr{
		position: absolute; 
		top: 50px; 
		left: 20px; 
		
	
	}
	
	#GraphicArtist{
	width: 152px;
	height: 38px;
	font-family: Noteworthy;
	color: #ffffff;
	font-size: 30px;
	font-weight: 300;
	line-height: 1736.11px;
	transform: scale(1.044,1.06);
	position: absolute; 
		top: 80px; 
		left: 400px;
			
	
		
	}
	
	
	#create{
		
	width: 282px;
	height: 45px;
	position: absolute; 
		top: 71px; 
		left: 600px;
		
	

	}
	
	
	#line{
		position: absolute; 
		top: 75px; 
		left: 950px;
		
	}
	#login{
	
	position: absolute; 
		top: 74px; 
		left: 1000px;
		
	
		
	}
	
	#headerBG{
		position: relative; 
		top: 1px; 
		left: 0px;

	}
	
	
	

.fixedTop{

	position: fixed;
	
	top: 0;


}
	.banner{
width: 100%;
	height: 145px;
z-index: 500;
padding: 0;


	}
	

	.BannerBG{
		
		width: 100%;
	height: 145px;

	
	}
	.wrapperBanner{

		position: relative;
		top:100px;
	}
	
	#Home{
	
	position: absolute;
	top: 45px;
	left: 60px;
	
	}
	
	#Portfolio{
		
		
	position: absolute;
	top: 45px;
	left: 240px;

	}
	
	
	#Prices{
	
		position: absolute;
	top: 45px;
	left: 515px;
	z-index: 500;
		
	}
	#FAQ{
		
		
		position: absolute;
	top: 45px;
	left: 715px;
			
	}
	
	
	#ContactMe{
	
	position: absolute;
	top: 45px;
	left: 885px;
				
		
	}
	


.TheShow{
	
	width: 1200px;
	height: 1500px;
	top: -53px;
		position:relative;
		z-index: 2;
	
}
#PorfolioBG{
width: 100%;
	height: 1500px;
		position:relative;


}
.PortfolioTitle{
left: 390px;
z-index: 2;
top: 15px;
	position: absolute;
}

#ArianaGrandeShowCase{
position: absolute;
top: 383px;
left: 33px;
}

#e40ShowCase{
position: absolute;
top: 385px;
left: 278.5px;
}

#JessAlbaShowCase{
position: absolute;
top: 384px;
left: 517px;
}
#CurryShowCase{
position: absolute;
top: 383px;
left: 757px;
}

#BalloonShowCase{
position: absolute;
top: 383px;
left: 992px;
}
#BVShowCase{
position: absolute;
top: 168px;
left: 36px;
}
#FoxShowCase{
position: absolute;
top: 168.5px;
left: 993.5px;
}
#IntroShowCase{
position: absolute;
left: 275px;
top:165px;
}
#BombShowCase{
position: absolute;
left: 514px;
top:165px;
}


#CraveYouShowCase{

position: absolute;
left: 753.5px;
top:165px;

}
#PortfolioTitleFirstLogo{
	position: absolute;
top:300px;
left: 32px;
}
#PortfolioTitleFirstIntro{
	position: absolute;
top:300px;
left: 276px;
}
#PortfolioTitle4DAnimation{

	position: absolute;
top:300px;
left: 515px;

}


#PortfolioTitleBeatSync{
position: absolute;
top:300px;
left: 770px;


	
}
#PortfolioTitleMeganFox{

position: absolute;
top:300px;
left: 1000px;

}

#PortfolioTitleAriana{

position: absolute;
top:520px;
left: 7px;


}
#PortfolioTitleE40{

position: absolute;
top:520px;
left: 338px;


}
#PortfolioTitleJessicaAlba{
position: absolute;
top:520px;
left: 520px;

}


#PortfolioTitleCurry{

position: absolute;
top:520px;
left: 760px;


}
#PortfolioTitleAlantis{
position: absolute;
top:520px;
left: 1020px;

}






